Project_8___Pinecone_RAG_with_App_integration.json
{
  "name": "Project 8 | Pinecone RAG with App integration",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        320
      ],
      "id": "48d10199-b726-4414-a4c3-b477cff5f5fb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4OSX4HqhwnVkWnUG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.projectId }}",
        "tableName": "chat_memory",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1000,
        360
      ],
      "id": "03e62196-7628-4fb1-b3dc-886dfc5b76c3",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "zbFOV457PoyuH8bO",
          "name": "supabase postgres"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1360,
        480
      ],
      "id": "3bb7ba24-3935-4e38-8b46-4776be43df21",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "tjN52FhpdmX6hO1n",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are smart agent. use \"Pinecone Vector Store1\" to answer user question"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1000,
        120
      ],
      "id": "b6e3fe77-df6c-4065-ba3b-664d4ed844a4",
      "name": "PDFChat Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        500
      ],
      "id": "36c42571-a64b-4eec-86d9-8e0546be77b0",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "4OSX4HqhwnVkWnUG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        220,
        340
      ],
      "id": "a1c2b0d5-6c84-4ca7-a567-ce599e83b82f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        220,
        500
      ],
      "id": "52a76a2e-caa9-408e-8f98-7b99c4014b24",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        340
      ],
      "id": "4ddc2b93-3adb-47e5-8462-f64af06e7c36",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "4OSX4HqhwnVkWnUG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pinecone_load",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -40,
        120
      ],
      "id": "1b63e92a-1536-43a7-9126-b4bfed69456e",
      "name": "Upload Trigger",
      "webhookId": "cdd5773d-4811-45fd-856f-c7e8a60d0134"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        500,
        120
      ],
      "id": "5427a52b-dded-45ac-8319-74dfd94e2bb8",
      "name": "Upload Response"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pinecone_retrive",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        800,
        120
      ],
      "id": "31a0af68-12f0-4776-b516-2f466744a6f2",
      "name": "Chat Trigger",
      "webhookId": "b395efff-e059-4e79-9857-6c76b2cf79d3"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1340,
        120
      ],
      "id": "c2d8ed2c-b311-4154-b599-eb66307e8348",
      "name": "Chat Response"
    },
    {
      "parameters": {
        "content": "# RAG [Loader]",
        "height": 640,
        "width": 800,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ],
      "id": "9524c8f6-cb8d-476d-ba49-784c154a6661",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# RAG [Retriver]",
        "height": 640,
        "width": 840,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        0
      ],
      "id": "07a292a7-a415-4deb-ae6e-d51106d05c50",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        140,
        120
      ],
      "id": "f0901576-41d6-4684-a297-cf56bd56fdef",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "l2azGibMukXwQFKt",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this to get information about user's documents in a project",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1160,
        320
      ],
      "id": "272e797c-b0a2-4d14-a02f-acffdfe97965",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "l2azGibMukXwQFKt",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "PDFChat Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "PDFChat Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "PDFChat Agent": {
      "main": [
        [
          {
            "node": "Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Upload Trigger": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "PDFChat Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Upload Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "PDFChat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ff45269-9763-4504-8780-7638bd3c3ec5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "775349a6ee29578bdbe5276d8cc4bf4f5c48060e4c0d031f28e89c7dcd9cbd2d"
  },
  "id": "1r1jgFWvK4WFwhZn",
  "tags": []
}