Project_7___Telegram_BOT__Text__Audio__Image_.json
{
  "name": "Project 7 | Telegram BOT (Text, Audio, Image)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -460,
        120
      ],
      "id": "73fee1a4-56f2-4ebd-b15a-65aa00c91391",
      "name": "Telegram Trigger1",
      "webhookId": "c0eee8d7-a6cd-42b5-8ea9-47c43e79c2ec",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "1HQHysBA8cgZwdNs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ead608af-7a53-4330-a679-6a5df4bd5ad8",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        120
      ],
      "id": "4a34c0e1-4ba0-462e-b3e6-a5ba33616a93",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "akrambuet@gmail.com",
          "mode": "list",
          "cachedResultName": "akrambuet@gmail.com"
        },
        "eventId": "={{ $fromAI(\"Event_ID\",\"it is the id of the specific event\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"end\",\"it is the meeting date ending time\") }}",
          "start": "={{ $fromAI(\"Start\",\"it is the meeting date starting time\") }}",
          "summary": "={{ $fromAI(\"eventName\",\"the name of the calendar event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1260,
        380
      ],
      "id": "6257c44f-483a-469d-bf3a-3f27333d4dd0",
      "name": "Update calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MJ8nCmYZSnuz5AnD",
          "name": "Google Calendar API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to create a new calendar event.",
        "calendar": {
          "__rl": true,
          "value": "akrambuet@gmail.com",
          "mode": "list",
          "cachedResultName": "akrambuet@gmail.com"
        },
        "start": "={{ $fromAI(\"Start\",\"it is the meeting date starting time\") }}",
        "end": "={{ $fromAI(\"end\",\"it is the meeting date ending time\") }}",
        "additionalFields": {
          "summary": "={{ $fromAI(\"eventName\",\"the name of the calendar event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1380,
        380
      ],
      "id": "0a8f7ed3-b2e7-4356-bad0-4c2fb7766e8e",
      "name": "Create event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MJ8nCmYZSnuz5AnD",
          "name": "Google Calendar API"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "akrambuet@gmail.com",
          "mode": "list",
          "cachedResultName": "akrambuet@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `it is the id of the specific event`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1500,
        380
      ],
      "id": "14c15471-88b3-48d0-aa5a-f44c6925c977",
      "name": "Delete event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MJ8nCmYZSnuz5AnD",
          "name": "Google Calendar API"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        360,
        -80
      ],
      "id": "0bd769d9-1432-4600-8cc1-40c8100d587f",
      "name": "Transcribe",
      "credentials": {
        "openAiApi": {
          "id": "4OSX4HqhwnVkWnUG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "502e50b6-9903-44c0-9a0d-a3bc772eae71",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "442d61ad-3a99-4d7a-93cf-753a7c877460",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9497a4ee-d080-4d13-afcc-8528338d9d1b",
                    "leftValue": "={{ $json.message.photo[0].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        120
      ],
      "id": "c8e8f848-126a-4f74-8ab7-917d52a4a562",
      "name": "Text or Audio"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.update_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1140,
        380
      ],
      "id": "b41114ac-6f57-4e94-bb41-56a35cda3a12",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant and answer in the language that the person talks to you. The current date is{{ $now }}\n\nYou use the LLM when nothing is asked about the calendar. When asked to create an event, use the create event tool. When an event has to be deleted, use the delete tool. When asked about an event or a specific date, use the get tool. When something needs to be updated, use the update tool. when asked to send email, use gmail tool"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1172,
        120
      ],
      "id": "2b2bee67-9504-4007-8ded-08c55826385d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1560,
        120
      ],
      "id": "a91a735a-587c-4206-bd26-fc3dc80a0f80",
      "name": "Telegram",
      "webhookId": "c7f74669-a664-4c32-8579-efa03d86ff4e",
      "credentials": {
        "telegramApi": {
          "id": "1HQHysBA8cgZwdNs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1020,
        380
      ],
      "id": "1370db77-129a-4b09-81ee-aa078a8cd9c2",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "4OSX4HqhwnVkWnUG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        140,
        -80
      ],
      "id": "22805630-f23f-4980-9d4d-d7c388b3077e",
      "name": "Get Audio",
      "webhookId": "1fe1ac8f-0983-40fb-bb18-6029c1e99c91",
      "credentials": {
        "telegramApi": {
          "id": "1HQHysBA8cgZwdNs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        360,
        320
      ],
      "id": "f795961f-3915-492d-a94d-eb0e4e395125",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "4OSX4HqhwnVkWnUG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -20,
        320
      ],
      "id": "684f1dde-8f2b-44d2-b8a8-6777e8234c22",
      "name": "Get Image",
      "webhookId": "1fe1ac8f-0983-40fb-bb18-6029c1e99c91",
      "credentials": {
        "telegramApi": {
          "id": "1HQHysBA8cgZwdNs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const ext = item.json['File Extension'];\n  const mimeType = ext === 'jpg' ? 'image/jpeg' :\n                   ext === 'png' ? 'image/png' : 'image/jpeg';\n\n  // Add mimeType to binary data\n  item.binary.data.mimeType = mimeType;\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        320
      ],
      "id": "8c5f0e57-35d3-493d-9084-9aae7174a5d4",
      "name": "Mime type conversion"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1660,
        380
      ],
      "id": "bd7b2176-b448-43c4-b23d-4ed29f74d278",
      "name": "Send Gmail",
      "webhookId": "16e17c65-a2a2-411a-a639-2051e11891b2",
      "credentials": {
        "gmailOAuth2": {
          "id": "qBeizKMvB2OZ3BYY",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "279f42bf-d5ab-408b-8630-a6f669081abe",
              "name": "text",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "9dbf4ba3-3e27-4dc0-b847-35075d3949bf",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        320
      ],
      "id": "d5eb20d0-b60f-4d9b-824b-421562ebd729",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Telegram Trigger1": [
      {
        "json": {
          "update_id": 356294129,
          "message": {
            "message_id": 301,
            "from": {
              "id": 264050707,
              "is_bot": false,
              "first_name": "A H",
              "language_code": "en"
            },
            "chat": {
              "id": 264050707,
              "first_name": "A H",
              "type": "private"
            },
            "date": 1751869907,
            "photo": [
              {
                "file_id": "AgACAgUAAxkBAAIBLWhradM3hs_q9bZrTc4HjdNXafR5AAIHxTEbvDNhV6tbVCHf5XPYAQADAgADcwADNgQ",
                "file_unique_id": "AQADB8UxG7wzYVd4",
                "file_size": 1134,
                "width": 67,
                "height": 90
              },
              {
                "file_id": "AgACAgUAAxkBAAIBLWhradM3hs_q9bZrTc4HjdNXafR5AAIHxTEbvDNhV6tbVCHf5XPYAQADAgADbQADNgQ",
                "file_unique_id": "AQADB8UxG7wzYVdy",
                "file_size": 9346,
                "width": 240,
                "height": 320
              },
              {
                "file_id": "AgACAgUAAxkBAAIBLWhradM3hs_q9bZrTc4HjdNXafR5AAIHxTEbvDNhV6tbVCHf5XPYAQADAgADeAADNgQ",
                "file_unique_id": "AQADB8UxG7wzYVd9",
                "file_size": 11044,
                "width": 300,
                "height": 400
              }
            ]
          }
        }
      }
    ],
    "Analyze image": [
      {
        "json": {
          "content": "The image depicts a funnel divided into different sections, each possibly representing stages in a process. The sections are color-coded, with the top section in blue, the second in green, the third in yellow, and the bottom likely in a different shade. Each section might denote various stages or categories, commonly used in marketing or sales contexts, though specific labels or details aren't visible."
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Text or Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text or Audio": {
      "main": [
        [
          {
            "node": "Get Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Mime type conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mime type conversion": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a07542e5-3823-4b25-8337-ca2aecc2c842",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "775349a6ee29578bdbe5276d8cc4bf4f5c48060e4c0d031f28e89c7dcd9cbd2d"
  },
  "id": "rwxm9KSDvEvseOHb",
  "tags": []
}