Project_11___Minimax_video_from_template.json
{
  "name": "Project 11 | Minimax video from template",
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.output.title }} #shorts",
        "regionCode": "BD",
        "categoryId": "24",
        "options": {
          "description": "={{ $json.output.description }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        240,
        680
      ],
      "id": "70d8fc1f-8541-4cf9-9acc-9a124864c313",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "HMuATzP5iAQI4shy",
          "name": "YouTube API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff24018d-30ef-4424-bdcf-b9d36226eb3b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        -100
      ],
      "id": "de089153-ca27-437a-9f9f-7cb1dce44510",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        280,
        -160
      ],
      "id": "220d21a6-2f36-457b-844f-9da48cd317ac",
      "name": "Wait",
      "webhookId": "f5c6d109-d5e8-46e2-8f9d-4380bc372843"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.minimax.io/v1/image_generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"image-01\",\n    \"prompt\": \"{{ $json['The Victim'] }}\",\n    \"aspect_ratio\": \"9:16\",\n    \"response_format\": \"url\",\n    \"n\": 1,\n    \"prompt_optimizer\": true\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        -100
      ],
      "id": "100f4c0f-1dcf-40ab-a863-1317f08156a5",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3w7SpOeUSE0VeDKY",
          "name": "Minimax Header Auth "
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.minimax.io/v1/video_template_generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"template_id\": \"393769180141805569\",\n    \"media_inputs\": [\n        {\n            \"value\": \"{{ $json.data.image_urls[0] }}\"\n        }\n    ],\n    \"text_inputs\":[\n        {\n            \"value\":\"{{ $('On form submission').item.json['The Hunter'] }}\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        -100
      ],
      "id": "483faada-7401-4d1a-8303-db1fa5dbe5aa",
      "name": "Create Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3w7SpOeUSE0VeDKY",
          "name": "Minimax Header Auth "
        }
      }
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "=https://api.minimax.io/v1/query/video_template_generation?task_id={{ $json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        -100
      ],
      "id": "e730c5cd-2db3-4229-8f8f-d80ff865b1b9",
      "name": "GET Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3w7SpOeUSE0VeDKY",
          "name": "Minimax Header Auth "
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "id": "753f8e62-2c6e-438c-ab8f-0e64a685d83b",
      "name": "Download Video"
    },
    {
      "parameters": {
        "formTitle": "Character Selection ",
        "formDescription": "Select character for image and video",
        "formFields": {
          "values": [
            {
              "fieldLabel": "The Victim",
              "requiredField": true
            },
            {
              "fieldLabel": "The Hunter",
              "requiredField": true
            },
            {
              "fieldLabel": "Video Agent Template ID",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -760,
        -100
      ],
      "id": "41bd45b3-abfe-4018-8a29-396409caec95",
      "name": "On form submission",
      "webhookId": "e138612c-7598-42f5-8005-0ff8332b3526"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/upload/v1beta/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Command",
              "value": "start, upload, finalize"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json[\"Upload video\"][0].size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "video/mp4"
            },
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        300
      ],
      "id": "78301f05-abbc-49ea-a0ec-80c25c75e549",
      "name": "Create File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "i2vXv91BXVdaKYLN",
          "name": "Gemini Header Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -120,
        300
      ],
      "id": "5b866fd5-3bf3-4cdf-94f5-082bceb23f96",
      "name": "Wait1",
      "webhookId": "a8f14957-2041-4c2b-a0bd-4d9ed12f2fc1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"fileData\": {\n            \"fileUri\": \"{{ $json.file.uri }}\",\n            \"mimeType\": \"{{ $json.file.mimeType }}\"\n          }\n        },\n        {\n          \"text\": \"Describe what's going on in the video in great detail. Describe the entire video.\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        300
      ],
      "id": "76b38c3f-d386-48e9-9ba1-7abca5eaae25",
      "name": "Analyze Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "i2vXv91BXVdaKYLN",
          "name": "Gemini Header Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2276aa4f-c207-4500-937e-c323f9fa7d00",
              "name": "Description",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        300
      ],
      "id": "70c89263-13aa-43ef-93bc-eb010d274aa0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a smart youtube consent creator. Based on video description in user msg, generate a seo friendly & funny YouTube video title & description. Add few  video relevant hashtags in the description\n\noutput format JASON : \n{\ntitle : \"video title\",\ndescription : \"video description\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -220,
        680
      ],
      "id": "c45384ee-849e-4807-97f1-4cb5b76b5460",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\"title\" : \"video title\",\n\"description\" : \"video description\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -40,
        880
      ],
      "id": "eead353a-66fc-46b6-abc1-1f3807d34dcb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -200,
        880
      ],
      "id": "75a0bccf-7c81-47b5-9510-48fbac91fdb2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4OSX4HqhwnVkWnUG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Image generation \n",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -620,
        -300
      ],
      "typeVersion": 1,
      "id": "3efa0afe-1526-48ef-9423-f1a9d733047e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Video generation \n",
        "height": 80,
        "width": 740
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        -300
      ],
      "typeVersion": 1,
      "id": "f18cfc0c-8478-4d86-a3ae-01d0ad86a92e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Video Analyze\n",
        "height": 80,
        "width": 780,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -360,
        220
      ],
      "typeVersion": 1,
      "id": "7c15d25f-fa48-4096-8520-91d7d298c3e2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## YouTube Title & Description & Upload\n",
        "height": 80,
        "width": 780,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        580
      ],
      "typeVersion": 1,
      "id": "ed659585-a342-4331-b8f9-3a267edde6e3",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "The Victim": "Dog",
          "The Hunter": "Tiger",
          "submittedAt": "2025-07-16T05:24:56.875-04:00",
          "formMode": "test"
        }
      }
    ],
    "Create Image": [
      {
        "json": {
          "id": "04c6a324e9c5d8d14cd6844891cdd189",
          "data": {
            "image_urls": [
              "http://hailuo-image-algeng-data-us.oss-us-east-1.aliyuncs.com/image_inference_output%2Ftalkie%2Fprod%2Fimg%2F2025-07-16%2Fecd1374c-54ed-4bb7-b82a-f4e118178309.jpeg?Expires=1752744377&OSSAccessKeyId=LTAI5tRDTcyEYLLuBEpJRwCi&Signature=WWwfvQjKrJqZFkdLnMCMfT5NDAw%3D"
            ]
          },
          "metadata": {
            "failed_count": "0",
            "success_count": "1"
          },
          "base_resp": {
            "status_code": 0,
            "status_msg": "success"
          }
        }
      }
    ],
    "GET Video": [
      {
        "json": {
          "task_id": "401824124361113603",
          "status": "Success",
          "video_url": "https://cdn.hailuoai.video/moss/prod/video_20250716_173921_c22e14d1.mp4",
          "base_resp": {
            "status_code": 0,
            "status_msg": "success"
          }
        }
      }
    ],
    "Create File": [
      {
        "json": {
          "file": {
            "name": "files/m0wioq3uttv3",
            "mimeType": "video/mp4",
            "sizeBytes": "3982356",
            "createTime": "2025-07-16T10:23:18.909063Z",
            "updateTime": "2025-07-16T10:23:18.909063Z",
            "expirationTime": "2025-07-18T10:23:18.483201358Z",
            "sha256Hash": "MDRkY2M1ZWNlMTliMWFlYjNhMmU5MTNiZWRiOGU3MWRjZjNlNDg4NGI3N2MxMjVlOTEyNmI4NDA1NjVkNjQyZg==",
            "uri": "https://generativelanguage.googleapis.com/v1beta/files/m0wioq3uttv3",
            "state": "PROCESSING",
            "source": "UPLOADED"
          }
        }
      }
    ],
    "Analyze Video": [
      {
        "json": {
          "candidates": [
            {
              "content": {
                "parts": [
                  {
                    "text": "The video opens with an immediate, dynamic close-up shot from a low, ground-level perspective. The primary subject is a medium-sized dog, possibly a Border Collie or similar breed, with russet brown fur and creamy white markings on its chest, snout, and forehead. The dog is positioned front and center, its body angled slightly towards the viewer as if it's running directly towards the camera.\n\n**0:00 - 0:04:**\nThe dog's expression is the focal point: its eyes are wide and cartoonishly bugged out, conveying an exaggerated sense of terror or surprise. Its mouth is agape, revealing its tongue and a few bottom teeth, as if mid-bark or scream. Its ears are perked upright, and the fur around its head and neck appears somewhat ruffled, emphasizing its frantic motion. The dog's front paws are extended forward, creating a sense of forward momentum. The entire image has a motion blur effect, particularly noticeable around the dog's limbs and the background, indicating high speed.\n\nBehind the dog, slightly to the right and gaining rapidly, is a large tiger. In these initial frames, the tiger is somewhat blurred due to its speed, but its classic orange and black stripes are clearly visible. Its mouth is also open in a fierce roar, with fangs and a pink tongue visible, conveying an intense and menacing pursuit. The tiger's body is low to the ground, appearing to be in a full chase or lunge.\n\nThe setting is a vibrant green, grassy field with blurred darker green foliage (trees or bushes) in the background, further emphasizing the depth and speed of the chase.\n\nA deep, guttural growling or roaring sound accompanies the visual, intensifying as the tiger appears to get closer.\n\n**0:04 - 0:06:**\nAs the video progresses, the perspective shifts dramatically and rapidly. The dog, which was initially the main focus, drops out of the immediate foreground, with only a small portion of its head or body perhaps visible at the very bottom of the frame. The tiger, in a sudden and powerful lunge, dominates the entire screen.\n\nThe tiger is now extremely close to the camera, filling almost the entire frame. Its stripes are incredibly sharp and detailed. Its massive mouth is wide open in a full, ferocious roar, revealing impressive, elongated fangs and a large pink tongue. Its eyes are focused and intense, conveying raw predatory power. The tiger's front paws are outstretched and massive, seemingly reaching towards or over the camera, completing the impression of a full pounce. The background remains a blurred green, highlighting the tiger's overwhelming presence.\n\nThe accompanying audio escalates into a powerful, climatic roar, matching the visual intensity of the tiger's lunge. The video ends abruptly on this climactic image of the roaring tiger."
                  }
                ],
                "role": "model"
              },
              "finishReason": "STOP",
              "index": 0
            }
          ],
          "usageMetadata": {
            "promptTokenCount": 1789,
            "candidatesTokenCount": 589,
            "totalTokenCount": 3603,
            "promptTokensDetails": [
              {
                "modality": "TEXT",
                "tokenCount": 19
              },
              {
                "modality": "VIDEO",
                "tokenCount": 1578
              },
              {
                "modality": "AUDIO",
                "tokenCount": 192
              }
            ],
            "thoughtsTokenCount": 1225
          },
          "modelVersion": "gemini-2.5-flash",
          "responseId": "l393aIKsOs_fxs0P3bnpmQY"
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "Description": "The video opens with an immediate, dynamic close-up shot from a low, ground-level perspective. The primary subject is a medium-sized dog, possibly a Border Collie or similar breed, with russet brown fur and creamy white markings on its chest, snout, and forehead. The dog is positioned front and center, its body angled slightly towards the viewer as if it's running directly towards the camera.\n\n**0:00 - 0:04:**\nThe dog's expression is the focal point: its eyes are wide and cartoonishly bugged out, conveying an exaggerated sense of terror or surprise. Its mouth is agape, revealing its tongue and a few bottom teeth, as if mid-bark or scream. Its ears are perked upright, and the fur around its head and neck appears somewhat ruffled, emphasizing its frantic motion. The dog's front paws are extended forward, creating a sense of forward momentum. The entire image has a motion blur effect, particularly noticeable around the dog's limbs and the background, indicating high speed.\n\nBehind the dog, slightly to the right and gaining rapidly, is a large tiger. In these initial frames, the tiger is somewhat blurred due to its speed, but its classic orange and black stripes are clearly visible. Its mouth is also open in a fierce roar, with fangs and a pink tongue visible, conveying an intense and menacing pursuit. The tiger's body is low to the ground, appearing to be in a full chase or lunge.\n\nThe setting is a vibrant green, grassy field with blurred darker green foliage (trees or bushes) in the background, further emphasizing the depth and speed of the chase.\n\nA deep, guttural growling or roaring sound accompanies the visual, intensifying as the tiger appears to get closer.\n\n**0:04 - 0:06:**\nAs the video progresses, the perspective shifts dramatically and rapidly. The dog, which was initially the main focus, drops out of the immediate foreground, with only a small portion of its head or body perhaps visible at the very bottom of the frame. The tiger, in a sudden and powerful lunge, dominates the entire screen.\n\nThe tiger is now extremely close to the camera, filling almost the entire frame. Its stripes are incredibly sharp and detailed. Its massive mouth is wide open in a full, ferocious roar, revealing impressive, elongated fangs and a large pink tongue. Its eyes are focused and intense, conveying raw predatory power. The tiger's front paws are outstretched and massive, seemingly reaching towards or over the camera, completing the impression of a full pounce. The background remains a blurred green, highlighting the tiger's overwhelming presence.\n\nThe accompanying audio escalates into a powerful, climatic roar, matching the visual intensity of the tiger's lunge. The video ends abruptly on this climactic image of the roaring tiger."
        }
      }
    ]
  },
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "GET Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "GET Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Video": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create File": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Analyze Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Video": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a5d4c23d-be70-4f4b-be20-56cab41d2eaf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "775349a6ee29578bdbe5276d8cc4bf4f5c48060e4c0d031f28e89c7dcd9cbd2d"
  },
  "id": "NCMGWgkO4TFCusF9",
  "tags": []
}